<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohana0.ohanaMarket.chat.repository.MessageRepository">
	<insert id="insertMessage" parameterType="map">
		INSERT INTO `message`
		(`chatId`,`userId`,`content`)
		VALUE
		(#{chatId},#{userId},#{content})
	</insert>
</mapper>