<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohana0.ohanaMarket.trade.repository.TradeRepository">
	<insert id="insertTradeGetId" parameterType="map">
		INSERT INTO `trade`
		(`userId`,`title`,`content`,`tradeLocation`,`price`,`type`,`state`)
		VALUE
		(#{userId},#{title},#{content},#{tradeLocateion},#{price},#{type},#{state})
		SELECT LAST_INSERT_ID();
	</insert>
	<select id="getTradeList">
		SELECT `userId`,`title`,`content`,`tradeLocation`,`price`,`type`,`state`
		FROM `trade`
	</select>
	

</mapper>