<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohana0.ohanaMarket.trade.repository.TradeRepository">
	<select id="getTradeList">

		SELECT `id`, `userId`,`title`,`content`,`tradeLocation`,`price`,`type`,`state`
		FROM `trade`
		ORDER BY `id` DESC
	</select>
	
	<insert id="insertTradeGetId" parameterType="com.ohana0.ohanaMarket.trade.domain.Trade"
	useGeneratedKeys="true" keyProperty='id'>
		INSERT INTO `trade`
		(`userId`,`title`,`content`,`tradeLocation`,`price`,`type`,`state`)
		VALUE
		(#{userId},#{title},#{content},#{tradeLocation},#{price},#{type},#{state});
	</insert>
	
	

</mapper>