@charset "UTF-8";
#wrap{
	width:1200px;
	margin:0 auto;
	border-style:solid;
}
#contentListArea{
	height:600px;
}
#logoStyle{
	font-size: 65px;
	font-weight:bold;
}
header{
	height:120px;
	margin:10px;

}
.border-black{
	border-color:black;
	border-style:solid;
}

.border-red{
	
	border-color:red;
}

.chat-card{
	width:100%;
	margin:none;
	padding:none;
	height:90px;
	border-bottom:solid 1px;
}
#chatListBox{
	border:solid;
	height:500px;
	overflow:auto;
	border-right:none;
	border-left:none;
}

footer{
	height:80px;
}
#footerText{
	font-size: 20px;
	font-weight:bold;
	margin:5px;
}
.join-box{
	width:500px;
}
.input-div{
	width:480px;
	margin:1%;
		
}
#contentBox{
	width:820px;

}
.nav-btn{
	
	height:auto;
	font-weight:bold;
	
}
.profile-post-card{
	width:480px;
	height:100px;
}
.post-card{
	width:1150px;
	height:100px;
}
.input-box{
	width:90%;
	border:none;
	margin-left:10px;
	
}
#titleArea{
	height:60px
}
.post-input-box{
	width:800px;


}
.main-title{
	font-size: 30px;
	
}

