@charset "UTF-8";
#wrap{
	width:1200px;
	margin:0 auto;
	border-style:solid;
}
#logoStyle{
	font-size: 65px;
	font-weight:bold;
}
header{
	height:120px;
	margin:10px;

}

.border-red{
	border-color:red;
}

footer{
	height:80px;
}
#footerText{
	font-size: 20px;
	font-weight:bold;
	margin:5px;
}
.join-box{
	width:500px;
}
.input-div{
	width:480px;
	margin:1%;
		
}
.nav-btn{
	
	height:auto;
	font-weight:bold;
	
}
.post-card{
	width:1150px;
	height:100px;
}
.input-box{
	border:none;
	width:430px;
	margin-left:10px;
	
}
#titleArea{
	height:60px
}
.post-input-box{
	width:800px;

}
.main-title{
	font-size: 30px;
	
}

